@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
    font-family: "icomoon";
    src: url('../fonts/icomoon.eot'); /* IE9*/
    src: url('../fonts/icomoon.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/icomoon.woff') format('woff'), /* chrome, firefox */
    url('../fonts/icomoon.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/icomoon.svg') format('svg'); /* iOS 4.1- */
}

body, html {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #000;
}

.hide {
    display: none !important;
}

.index-html {
    background: url(/View_Mobile/Images/index-bg-2.png) top no-repeat #019FE8;
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -99;
}

.hy_wrap {
    margin: 0 auto;
    color: #fff;
    /*margin: 14px 0 0 0;
    padding: 0 0 30px 0;*/
    text-align: center;
    /*background-size: 100%;
    height: auto;*/
}

    .hy_wrap a {
        color: #fff;
    }

.hy_wrap_r .index-html {
    background: #f4ae00;
    background-image: none;
}

.hy_wrap_r .hy_wrap {
    background: url(/View_Mobile/Images/body-bg.jpg) top right no-repeat #F4AE00;
    background-size: auto 100%;
    color: #000;
}

.hy_wrap_r a {
    color: #000;
}

.invitation {
    height: 14px;
    line-height: 12px;
    padding-top: 1px;
    font-size: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 24px;
    padding-left: 12px;
}

.logo {
    margin: 0px auto;
    height: 90px;
}

.hy_wrap_r .logo {
    background: url(/View_Mobile/Images/logo-bg2.png) left top no-repeat;
    background-size: 100%;
    height: 110px;
}

.logo::before {
    content: "";
    width: 100%;
    min-height: 60px;
    display: block;
    background: url(/View_Mobile/Images/tobacco-logo1.png) 10px center no-repeat;
    background-size: 30%;
    margin: 0 0 0 0;
}

.hy_wrap_r .logo::after {
    content: "";
    width: 96%;
    min-height: 60px;
    display: block;
    background: url(/View_Mobile/Images/tobacco-fi-2.png) right center no-repeat;
    background-size: 40%;
    margin: -58px 0px 0 0;
}

.title {
    font-weight: bold;
    font-size: 140%;
    margin: 0px auto;
    margin-bottom: 35px;
    line-height: 160%;
}

.subtitle {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 15px;
    margin: 0 auto;
}

.infomation {
    font-size: 110%;
    text-align: left;
    width: 85%;
    margin: 16px auto;
}

.ewrcode {
    margin-top: 16px;
}

    .ewrcode img {
        margin: 0 auto;
        margin: 40px 0 0 0;
        text-align: center;
        width: 40%;
    }

.gobutton {
    margin: 0 auto;
    margin-top: 35px;
}

    .gobutton .fl-left {
        float: left;
        width: 46%;
    }

    .gobutton .fl-right {
        float: right;
        width: 46%;
    }

    .gobutton span {
        color: #019FE8;
        display: block;
        text-decoration: none;
        font-weight: bold;
        border-radius: 3px;
        width: 60%;
        margin: 0px 0px 50px 0px;
        padding: 9px 0;
        letter-spacing: 1px;
        font-size: 100%;
        background: #fff;
    }
/*白色按钮*/
.gobutton2 span {
    color: #019FE8;
    display: block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 9px 0;
    letter-spacing: 1px;
    font-size: 100%;
    background: #fff;
}

/*蓝色按钮*/
.gobutton-blue span {
    color: #fff;
    display: block;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    width: 90%;
    margin: 0 auto;
    padding: 9px 0;
    letter-spacing: 1px;
    background: #019FE8;
}

.gobutton::after {
    content: " ";
    clear: both;
}

.default_block {
    display: none;
}

.input_block {
    margin-top: 40px;
    display: none;
}

    .input_block .phonenumber {
        background-color: #fff;
        /*opacity: 0.45;
        filter: alpha(opacity=45);*/
        font-size: 90%;
        font-size: 150%;
        font-weight: bold;
        width: 70%;
        height: 50px;
        line-height: 50px;
        font-family: Aharoni;
        border-radius: 6px;
        /*box-shadow: #111 0 0 5px 2px;*/
        text-align: center;
        color: #019FE8;
        margin: 0 auto;
    }

        .input_block .phonenumber input {
            width: 85%;
            height: 30px;
            margin-top: 0px;
            line-height: 30px;
            border: none;
            background: none;
            color: #333;
            font-size: 90%;
            outline: none;
        }

.hy_wrap_r .gobutton span, .hy_wrap_r .gobutton2 span {
    background: #F4AE00;
    color: #fff;
}

.hy_wrap_r .phonenumber {
    border: solid 1px #F4AE00;
}
/*.input_block .phonenumber input::-webkit-input-placeholder {
                color: #019FE8;
            }

            .input_block .phonenumber input::-moz-placeholder { 
                color: #019FE8;
            }

            .input_block .phonenumber input:-moz-placeholder { 
                color: #019FE8;
            }

            .input_block .phonenumber input:-ms-input-placeholder { 
                color: #019FE8;
            }*/

.wrapper {
    color: #fff;
    height: 100%;
    margin: 0 auto;
}

    .wrapper .title {
        font-size: 130%;
        text-align: center;
        margin: 0 auto;
        padding: 25px 0 20px 0;
        font-weight: bold;
        width: 100%;
    }

    .wrapper .banner {
        font-size: 110%;
        text-align: center;
        padding: 10px;
        margin-bottom: 20px;
        background: #019FE8;
        color: #fff;
    }

.hy_step_r .wrapper .banner {
    background: url(/View_Mobile/Images/logo-bg.jpg) right top no-repeat;
}

.wrapper .content-bg {
    margin: 0px auto;
    width: 90%;
    line-height: 150%;
}

    .wrapper .content-bg img {
        vertical-align: middle;
        margin-bottom: 5px;
    }

.wrapper .font-white {
    color: #fff;
}

.wrapper .bg-white {
    background: #fff;
    padding: 15px;
    color: #000;
}

.wrapper .bg-grey {
    background: #f1f1f1;
    padding: 0 0 10px 0;
}

.wrapper .bg-holder {
    padding: 15px 10px;
}

.wrapper .title span {
    padding: 0 100px;
    position: relative;
}

    .wrapper .title span strong {
        z-index: 99;
        position: relative;
    }

    .wrapper .title span:before {
        border-bottom: solid 1px #fff;
        height: 0px;
        position: absolute;
        left: 0;
        top: 14px;
        content: "";
        margin: 0 auto;
        width: 32%;
        z-index: 0;
    }

    .wrapper .title span:after {
        border-bottom: solid 1px #fff;
        height: 0px;
        position: absolute;
        right: 0;
        top: 14px;
        content: "";
        margin: 0 auto;
        width: 32%;
        z-index: 0;
    }

.wrapper .hy_menu_list {
    text-align: center;
    clear: both;
    color: #fff;
}

    .wrapper .hy_menu_list:after {
        clear: both;
        content: " ";
    }

    .wrapper .hy_menu_list a {
        float: left;
        width: 33%;
        text-decoration: none;
        display: block;
        margin: 20px 0;
        text-align: center;
    }

    .wrapper .hy_menu_list i {
        border: solid 1px #111;
        border-radius: 14px;
        line-height: 14px;
        padding: 0 5px;
        font-size: 80%;
        font-style: normal;
        margin-right: 16px;
    }

    .wrapper .hy_menu_list img {
        border-radius: 50px;
        width: 40%;
    }

    .wrapper .hy_menu_list span {
        display: block;
        color: #000;
    }

.bg-white .title {
    margin-top: 0px;
    padding-top: 10px;
}

    .bg-white .title span strong {
        background-color: #fff;
        color: #000;
    }

    .bg-white .title span:before, .bg-white .title span:after {
        border-bottom: solid 1px #000;
    }

.bg-grey .title {
    padding: 10px 0 10px 15px;
    text-align: left;
    background: #fff;
    border-bottom: solid 1px #e1e1e1;
    font-size: 110%;
    font-weight: normal;
    line-height: 32px;
}

.bg-grey .content-bg {
    width: 100%;
    margin-bottom: 30px;
}

    .bg-grey .content-bg .item-con-list, .bg-grey .content-bg .item-wall-list {
        padding: 0 0 0 15px;
        border-top: solid 1px #e1e1e1;
        border-bottom: solid 1px #e1e1e1;
        background: #fff;
    }

        .bg-grey .content-bg .item-con-list::after {
            content: "";
            display: block;
            clear: both;
        }

        .bg-grey .content-bg .item-con-list li, .bg-grey .content-bg .item-wall-list li {
            border-bottom: solid 1px #e1e1e1;
            margin: 0;
        }

            .bg-grey .content-bg .item-con-list li:last-child, .bg-grey .content-bg .item-con-list li:nth-last-child(2), .bg-grey .content-bg .item-wall-list li:last-child {
                border-bottom: none;
            }


.bg-grey .item-title {
    padding: 10px 15px 5px 15px;
}

.bg-grey .item-bg {
    padding: 0 15px 0px 15px;
    margin-bottom: 30px;
    border-bottom: solid 1px #e1e1e1;
    background: #fff;
}

    .bg-grey .item-bg .item-description {
        padding: 18px 0 10px 0;
        line-height: 180%;
    }

    .bg-grey .item-bg .title {
        padding-left: 0px;
    }

.hysummary .title i {
    background: url(/View_Mobile/Images/icon/GZRB.png) center center no-repeat;
}

.hycomment .title i {
    background: url(/View_Mobile/Images/icon/PXGL.png) center center no-repeat;
}
.hyxuzhi .title i {
    background: url(/View_Mobile/Images/icon/ZHBG.jpg) center center no-repeat;
}

.hysecurity .title i {
    background: url(/View_Mobile/Images/icon/SECURITY.jpg) center center no-repeat;
}

.picksend .title i {
    background: url(/View_Mobile/Images/icon/JSFW.png) center center no-repeat;
}

.hyfuwu .title i {
    background: url(/View_Mobile/Images/icon/WQQD.png) center center no-repeat;
}

.hyrich .title i {
    background: url(/View_Mobile/Images/icon/NOTE.png) center center no-repeat;
}

.hyzuowei .title i {
    background: url(/View_Mobile/Images/icon/HYGL.png) center center no-repeat;
}

.hychuxing .title i {
    background: url(/View_Mobile/Images/icon/YCGL.png) center center no-repeat;
}

.hyzhusu .title i {
    background: url(/View_Mobile/Images/icon/Info.jpg) center center no-repeat;
}

.hyyongcan .title i {
    background: url(/View_Mobile/Images/icon/DCGL.png) center center no-repeat;
}

.hyorganization .title i {
    background: url(/View_Mobile/Images/icon/XMGL.png) center center no-repeat;
}

.zldownload .title i {
    background: url(/View_Mobile/Images/icon/KSGL.png) center center no-repeat;
}

.hydaibiao .title i {
    background: url(/View_Mobile/Images/icon/QYIM.png) center center no-repeat;
}

.hynavigate .title i {
    background: url(/View_Mobile/Images/icon/map.png) center center no-repeat;
}

.hyvideo .title i {
    background: url(/View_Mobile/Images/icon/video1.png) center center no-repeat;
}

.bg-grey .title i {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    display: block;
    float: left;
    margin-right: 10px;
    background-size: 100%;
}

.hynavigate .title i {
    border-radius: 2px;
}
.mobphone a {
    color: green;
}

.video-body {
    padding: 0 16px 10px 16px;
}

.video-title {
    padding: 7px 3px;
    font-size: 110%;
    font-weight: bold;
}

.video-title-small {
    font-size: 95%;
}

.video-content .vjs-poster, .video-content .video-js {
    border-radius: 0px;
}

.video-list {
    margin: 10px 0;
}

    .video-list::after {
        content: " ";
        display: block;
        height: 0px;
        line-height: 0px;
        clear: both;
    }

    .video-list .video-content {
        float: left;
        width: 45%;
        height: 90px;
    }

    .video-list .video-title {
        width: 52%;
        float: right;
        font-size: 80%;
    }

.v-small .video-js .vjs-big-play-button {
    display: none;
}

.zcb-content {
    color: #000;
    background: #fff;
    width: 95%;
    padding: 10px 0 0 15px;
}

    .zcb-content .zcb-title {
        color: #000;
        padding: 10px;
        margin-top: 10px;
        text-align: center;
        background: #eee;
    }

.arrow-up, .back-away, .arrow-down {
    width: 50px;
    text-align: center;
    color: #019FE8;
    margin: 0 auto;
}

.back-away {
    font-weight: normal;
    width: auto;
}

.up-and-down {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    bottom: 0px;
    position: fixed;
    border: none;
    font-size: 75%;
    padding: 10px 0;
    background: #fff;
    border-top: solid 1px #e1e1e1;
}

    .up-and-down li {
        float: left;
        border-right: solid 1px #e1e1e1;
        width: 32%;
        height: 15px;
        line-height: 15px;
    }

        .up-and-down li:last-child {
            border-right: none;
        }

.hy_filelist {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .hy_filelist li {
        line-height: 46px;
        height: 46px;
    }

        .hy_filelist li span {
            white-space: nowrap;
            display: block;
            width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .hy_filelist li a {
            text-decoration: none;
        }

        .hy_filelist li .down-icon::after {
            content: "\e025";
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: normal;
            float: right;
            display: block;
            margin-top: -46px;
            margin-right: 15px;
            font-size: 90%;
            color: #000;
        }

.inlist {
    padding: 0 0 15px 0;
}

.list_parent_node {
    /*border: solid 1px #efefef;*/
    padding: 15px 15px;
    background: #fff;
    border-bottom: solid 1px #e1e1e1;
}

.parent_title {
    background: url(/View_Mobile/Images/arrow-b.png) no-repeat left center;
    background-size: 20px;
    padding-left: 30px;
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title_cyuser {
    color: #019FE8;
    background: url(/View_Mobile/Images/arrow-b.png) no-repeat right center;
    background-size: 20px;
    padding-left: 0px;
    padding-right: 30px;
    font-size: 105%;
}

.list_parent_node .list_child_block {
    margin: 5px;
    display: none;
}

    .list_parent_node .list_child_block .list_child_node {
        margin: 0 0 5px 0;
        color: #000;
    }

.list_parent_node .list_child_node .child_ext {
    margin: 0 0 5px 0;
    color: #000;
    float: right;
    display: block;
    width: 70%;
    text-align:right;
}

    .list_parent_node .list_child_node::after {
        content: " ";
        display: block;
        line-height: 0px;
        clear: both;
    }

.item-con {
    padding: 4px 0 4px 8px;
}

    .item-con::after {
        content: "";
        clear: both;
        display: block;
    }

.item-con-list li:nth-child(2n+1) {
    float: left;
    margin: 4px 0;
    height: 46px;
    display: block;
    line-height: 46px;
    width: 40%;
}

.item-con-list li:nth-child(2n) {
    float: right;
    margin: 4px 0;
    height: 46px;
    display: block;
    line-height: 46px;
    width: 60%;
}

.item-con-list input, .item-con-list select {
    border-radius: 3px;
    border: none;
    padding: 0 5px 0 0;
    margin: 7px 0 0 0;
    font-size: 16px;
    height: 32px;
    width: 90%;
    background: none;
    outline: none;
}

.edit-icon::after {
    content: "\e905";
    font-family: icomoon;
    font-size: 0.8rem;
    color: #777;
    float: right;
    display: block;
    margin-right: 10px;
    margin-top: -46px;
}

.room-length-index {
    height: 25px;
}

    .room-length-index li {
        /*border: solid 1px #ccc;*/
        display: inline-block;
        padding: 0px 0px;
        margin-right: 4px;
        line-height: 15px;
        width: 20px;
        height: 22px;
        font-size: 10px;
        text-align: center;
        background: url(/View_Mobile/Images/zuoyi.png) no-repeat center center;
        background-size: 100%;
    }
        .room-length-index li.empty{
            background:none;
        }
        .room-length-index .selected {
            background: url(/View_Mobile/Images/zuoyi-selected.png) no-repeat center center;
            background-size: 100%;
        }

.room-width-index .first {
    background: none;
    border: none;
    width: 12px;
    position: absolute;
    left: 12px;
    text-align: center;
    font-size: 90%;
    line-height: 22px;
    vertical-align: top;
}

.last-row li {
    border: none;
    width: 20px;
    height: 20px;
    font-size: 90%;
    line-height: 20px;
    vertical-align: top;
    margin-right: 4px;
    /*border: solid 1px #fff;*/
    background: none;
}

.room-block-hold {
    width: 100%;
    overflow-x: scroll;
}

.chairmen-wrapper {
}

.room-chairmen {
    color: #fff;
    width: auto;
    margin: 10px auto;
    padding: 3px 10px 3px 10px;
    line-height: 20px;
    background: #019FE8;
    font-size: 120%;
    text-align: center;
}

    .room-chairmen ul li {
        display: inline;
        margin-right: 15px;
    }

.room-block {
    margin: 0 auto;
}

.seat_info {
    display: block;
    height: 15px;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

    ul li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
